{% extends 'base.html' %}
{% load static %}


{% block extrahead %}
    <link href="{% static 'assets/css/correo.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col mt-3 text-center">
            <hr>
            <h1 class="text-center">MENSAJE DE CORREO</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" class="mensaje_correo" novalidate>
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Envíar</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
    <hr>
    <div class="row mb-5">
        <div class="text-center btn-group mb-5" role="group">
            <button id="id_boton_mostrar" class="btn btn-warning text-center" onclick="mostrarUbicacion()">Mostrar Ubicación</button>
            <button id="id_boton_borrar" class="btn btn-danger btn-rounded-left" onclick="borrarUbicacion()">Borrar Ubicación</button>        
            <a class="btn btn-info btn-small" href="#">Bandeja</a>
        </div>
    </div>

    {% endblock %}

{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'assets/js/geo/geo.js' %}"></script>
{% endblock %}