label.required::after{
    content: " *";
    color: white;
}

.errorlist {
    width: 100%;
    position: relative;
    top: 10px;
    background-color: aquamarine;
    color: red;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}

ul {
    list-style: none;
}

.mensaje_correo {
    max-width: 600px;
    margin: 0 auto;
}

.mensaje_correo label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.mensaje_correo input[type='text'],
.mensaje_correo input[type='email'],
.mensaje_correo textarea {
    text-align: left;
    display: block;
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid blue;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    height: 2.5rem;
}

.mensaje_correo button[type="submit"]{
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: red;
    color: #fff;
    border-radius: 0.25rem;
    border: none;
    font-size: 1.2rem;
    height: 2.5rem;
}

#id_boton_borrar {
    display: none;
}

.btn-rounded-left {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
