<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
  {% block extrahead %}{% endblock %}
</head>

<body>

  <!-- ======= Header ======= -->
  <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top
              {% if user.is_authenticated %}
                {% if user.is_superuser %} navbar-dark bg-dark
                  {% elif user.is_staff %} navbar-dark bg-primary
                  {% else %} navbar-dark bg-success
                {% endif %}
                {% else %} navbar
                {% endif %}" style=" background-color: #FF5733;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Clínica Médica</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle-navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'pagina_principal' %}">Inicio</a>
          </li>
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'correo' %}">Correos</a>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Cerrar sesion</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Iniciar sesion</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  </header>

  <main id="main">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="fotter mt-auto py-3 bg-light fixed-bottom">
      <div class="container">
        <span class="text-muted">
          &copy; Copyright 2023<strong><span> Andrés Soria</span></strong>. Todos los derechos reservados
        </span>

      </div>

    </div>
  </footer><!-- End Footer -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  {% block javascript %}{% endblock %}
</body>

</html>